
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="container align-items-center text-left">
            <p>Todos los derechos reservados. No se permite la reproducción total o parcial de este material en cualquier 
        forma o por cualquier medio, sin el permiso previo y escrito de los titulares del copyright. 
        La información contenida en este sitio web tiene un propósito educacional e informativo únicamente y no debe 
        ser tomada como consejo médico, diagnóstico o tratamiento. Siempre se debe buscar el consejo de un profesional 
        de la salud ante cualquier pregunta sobre alguna condición médica.
            </p> 
    </div>
    <div>
      <span class="text-muted">&copy; 2022 Umbrella Corporation, S.R.L.</span>
    </div>
  </footer>
</div>


