
      {{>navbar}}
        {{sendMailFeedback}}
<div class="container centrar-container" id="containerHome">

        
            <h1>Umbrella Corporation</h1><br>
            <p>
                Umbrella surgió a partir de fines de la década de los años 60, 
            con el descubrimiento del virus Progenitor que más tarde daría origen al virus-T 
            por parte de un miembro de la familia Ashford. Más tarde, se conformó en
            los años 60 como una multinacional independiente del gobierno de Estados Unidos.</p> <br>
                <p> Compromiso, honradez, integridad, estos son los valores clave que forman los cimientos de 
            la corporación Umbrella. Somos una empresa multinacional de biotecnología,
            con base en Estados Unidos, pero con un gran crecimiento a nivel mundial. 
            Con un alto sentido de la ética, nuestro lema es: 'La obediencia trae disciplina. La disciplina trae unidad.
             La unidad trae poder. Y el poder trae la vida.' <br><br>
            </p>
       
</div>

<div class="card-group tarjetas">
    <div class="card-C">
        <img class="imagen imagen1" src="./multimedia/T-virus.webp" class="card-img-top" alt="virus T">
        <div class="card-body">
            <h5 class="card-title">Virus T</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minima maiores sed quae,
                   voluptate voluptates inventore quisquam ipsam, ducimus commodi vitae, natus ratione dolores
                   est beatae assumenda hic voluptatibus soluta? Lorem ipsum, dolor sit amet 
                   consectetur adipisicing elit. Quae consectetur, unde saepe quis nihil maxime? 
                   Provident, mollitia velit. Esse autem itaque aliquid possimus,
                   rem repellat debitis tempora earum corporis modi!
         </div>
    </div>
    <div class="card-C">
        <img class="imagen" src="../multimedia/virus_verde.webp" class="card-img-top" alt="virus G">
        <div class="card-body">
            <h5 class="card-title">Virus G</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minima maiores sed quae,
                   voluptate voluptates inventore quisquam ipsam, ducimus commodi vitae, natus ratione dolores
                   est beatae assumenda hic voluptatibus soluta? Lorem ipsum, dolor sit amet 
                   consectetur adipisicing elit. Quae consectetur, unde saepe quis nihil maxime? 
                   Provident, mollitia velit. Esse autem itaque aliquid possimus,
                   rem repellat debitis tempora earum corporis modi!
        </div>
    </div>

</div>

        {{>footer}}

    
