
    {{>navbar}}
    <div class="containerLoginForm">
        <form class="formularioLogin" action="/loginForm" method="POST">
        
            <label for="email"></label>
            <input name = "email" type="text" autocomplete="email" placeholder="Email">
        
        
            <label for="password"></label>
            <input name = "password" type="password" autocomplete="current-password" placeholder="Contraseña">
        
        <input type="submit" value="Ingresar">
        </form>
    </div>
    {{message}}
{{>footer}}
