
    <div class="container3"> 
        {{>navbar}}
        <div class="parrafoInformacion">
            <h1>Umbrella Corporation</h1>
            <p>Umbrella surgió a partir de fines de la década de los años 60,
                con el descubrimiento del virus Progenitor que más tarde daría
                origen al virus-T por parte de un miembro de la familia Ashford.
                Más tarde, se conformó en los años 60 como una multinacional 
                independiente del gobierno de Estados Unidos. 
                Oswell creó el logotipo de la compañía inspirándose en el 
                símbolo del culto de la Madre Miranda a quien conoció en su juventud
                y quién le enseñó sus conocimientos en genética. </p>

                <p> Originalmente fundada por Oswell E. Spencer, Edward Ashford y
                    James Marcus como una tapadera para propósitos militares, 
                    Umbrella Corporation fue una empresa que se dedicaba a la 
                    elaboración de drogas simples y experimentos básicos para la 
                    mejora de la salud pública.
                </p>
                <p> Edward y Oswell (dueño de la mansión Spencer en las montañas Arklay,
                en Raccoon City) fueron los creadores del virus Progenitor,
                también conocido como virus Madre. Con el tiempo, Marcus 
                consiguió crear una nueva cepa del virus denominada «T», 
                nombrada así por ser su nombre real Tyrant Virus.
                </p>
                <p>
                Con el virus-T, la experimentación comenzó a dar sus frutos. Al pasar el tiempo, las diferencias entre las familias Ashford y Spencer fueron creciendo cada vez más, hasta llegar a tal punto que Spencer comenzó a generar nuevos experimentos sobre el virus-T dejando de lado a los miembros de la familia Ashford. Uno de sus experimentos más conocidos fue el proyecto Arklay, pero 
                perdió el control y terminó afectando gravemente a Raccoon City.</p>
                </p>
            </div>
         {{>footer}}
    </div>
