
body {
    font-family: 'Quicksand', sans-serif;
    background-image: url(../multimedia/imagen.svg);
    background-size: 1200px 500px;
    background-repeat: no-repeat;
    background-color: rgb(237, 246, 251);
    padding-top: 0;
    background-position:top center;

    
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: rgb(130, 128, 128);
}

a:hover{
    color: rgb(41, 41, 41);
}

/* Estilos de los formularios*/
.formulario{
    display: flex;
    max-width: 400px;
    max-height: 600px;
    background-color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;


}
.cont-form{
    max-width: max-content;
    display: flex;
    max-height: 1000px;
    padding-top: 40px;
}
.btn{ max-width: max-content;
}
.cnt{
    padding-top: 10px;
    text-align: center;
}
.error-form{
    display: inline;
}
.group-error{
    color: red;
    font-size: 16px;
}

.message-register{
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
}
.centrar-container{
    padding-top: 400px;
}
/* Estilos cards de la pagina de inicio*/
.tarjetas{
    width: 100%;
    max-width: fit-content;
    height: max-content;
    display: flex;
    justify-content: center;
    margin: auto;

}
.tarjetas .card-C{
    width: 600px;
    height: max-content;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.tarjetas .card-C:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.tarjetas .card-C .imagen{
    width: max-content;
    height: 400px
    
}
.tarjetas .card-C .imagen1{
    width: 600px
}

.tarjetas .card-C .card-title{
padding: 1rem;
    background-color: white;
    text-align: start;
}
.tarjetas .card-C .card-text{
    padding: 0 1rem 1rem 1rem;
    background-color: white;
    text-align: start;
    width: 600px
}
.card-body{
    background-color: whitesmoke;
}
.cont-user{
    display: block;
}
.centra-nav{
    padding-left: 6px;
    padding-right: 6px;
}




@media screen and (max-width: 720px){
.navbar{
    width: 100%;
}
  .menu{
    align-items: flex-end;
  }
.grid-cont{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nav1 nav2";
} 
.nav1{
    grid-area: "nav1";
}
  .nav2{
    grid-area: "nav2";
  }
    
    .centrar-container{
        padding-top: 200px;
        width: 100%;
    }
    #containerHome{
        min-width: 400px;
    }
    .tarjetas{
        max-width: max-content;
        min-width: 350px;
        display: flex;
        flex-direction: column;
    }
}